h1{
  display: flex;
  justify-content: center;
  font-family: 'Architects Daughter', cursive;

  }

  h2, p{
    display: flex;
    justify-content: center;
    font-family: 'Architects Daughter', cursive;
  }
