title{
  display: flex;
  justify-content: center;

  }


html body {
  margin: 0;
  padding: 0;
  background-color: white;

      font-family: 'Itim', cursive;
      font-family: 'Montserrat', sans-serif;
      line-height: 2;
      font-size: 30px;
}

.gamepieces{
  display: flex;
  flex-direction: row;
}

.gamepieces, .rock, .paper, .scissors {
  display: flex;
  justify-content: center

}
