<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rock Paper Scissors</title>
</head>
<body>
  <h1>Rock Paper Scissors</h1>

  <div id="gamepieces">
    <div style="align-self: flex-start" class="rock" (click)="SelectOption('Rock')">
      <img src="https://www.clipartkey.com/mpngs/m/113-1138591_cute-drawing-of-a-rock.png" alt="Rock" width="250" height="250">
    </div>

    <div class="paper" (click)="SelectOption('Paper')">
    <img src="https://i.pinimg.com/originals/7a/67/52/7a67527ca7bc06b89a0f440d005308f1.jpg" alt="Paper" width="250" height="250">
  </div>

    <div style="align-self: flex-end" class="scissors" (click)="SelectOption('Scissors')">
      <img src="https://free.clipartof.com/450/1702-Free-Clipart-Of-A-Pair-Of-Scissors.jpg" alt="Scissors" width="250" height="250">
    </div>


  </div>
  <div class="Shoot">
    <!-- <button class="btn" (click)="Shoot()" [disabled]="optionPicked === false">Shoot!</button> -->
</div>

</body>
</html>
